  <div class="card">
      <p>
        <%= @article.user.email %>
      </p>
      <small>
        <%= @article.created_at %>
      </small>
          <p>
          </p>
      <h5 class="card-title"><%= @article.title %></h5>
      <p>
        <%= @article.body %>
      </p>
    </a>
  </div>
