<div id="<%= dom_id article %>">
  <div class="card">
    <div class="card-body">
      <p>
        <strong>Title:</strong>
        <%= article.title %>
      </p>
      <p>
        <%= article.body %>
      </p>
        <p>
          <%= link_to "Show this article", article, class:"btn btn-primary" %>
        </p>
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>
