<div class="row" id="articles">
  <% articles.each do |article| %>
    <div class="col-sm-12 mb-3">
      <%= render "articles/article", article: article %>
    </div>
  <% end %>
</div>
  <% if @user %>
    <%= paginate articles %>
  <% end %>

