<div class="card" style="text-align: center">
  <small>
    <%= @article.created_at.to_fs(:datetime_jp) %>
  </small>
  <h5 class="card-title"><%= @article.title %></h5>
  <p class="card-body">
    <%= @article.body %>
  </p>
</div>
