<div class="card article-card">
  <div class="card-body">
    <h5 class="card-title px-2"><%= article.start_time.strftime('%Y年%m月%d日') %></h5>
    <%= truncate(article.body, length: 50) %>
    <div>
      <strong>Persons:</strong>
      <% article.persons.each do |person| %>
        <span><%= truncate(person.name, length: 10) %></span>
      <% end %>
    </div>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <div class="text-left pb-1">
    </div>
  </div>
</div>
