<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <h5 class="card-title px-4"><%= article.title %></h5>
    </h5>
    <%= article.comment %>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>