<div class="card">
    <div class="card-title mt-3">
        <h4>I will meet</h4>
    </div>
    <div class="card-title mt-3">
        <h4>I recently met</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            <% @applicant.each do |person| %>
            <%= person.name %><br>
            <% end %>
        </p>
    </div>
</div>