<p style="color: green"><%= notice %></p>
  <div class="row">
    <div class="col-sm-2 text-center">
      <p>ランキング</p>
      <div id="users">
        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <div id="articles">
        <% @articles.each do |article| %>
          <%= render article %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
