<p style="color: green"><%= notice %></p>
    <br />
  <div class="row">
    <div class="col-sm-2">
      <div class="row">
        <div class="col-sm-12">
          <div class="float-right">
            <i class="fa-regular fa-heart fa-2x"></i>
            <p class="text-right">3</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="float-right">
            <i class="fa-solid fa-eye fa-2x"></i>
            <p class="text-right">10</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div id="articles">
        <% @articles.each do |article| %>
          <%= render article %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
    <br />

