<p style="color: green"><%= notice %></p>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article, class:"btn btn-primary" %>
    </p>
  <% end %>
</div>
