<p style="color: green"><%= notice %></p>

<div class="row">
    <div class="col-sm-1">
      <div class="row">
        <div class="col-sm-12">
          <div class="float-right">
            <i class="fa-regular fa-heart fa-2x"></i>
            <p class="text-right">3</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="float-right">
            <i class="fa-solid fa-eye fa-2x"></i>
            <p class="text-right">10</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <%= render "article_details" %>
      <div>
        <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-primary" %>
        <%= button_to "Destroy this article", @article, method: :delete, class:"btn btn-primary"  %>
      </div>
    </div>
    <div class="col-sm-3">
      Column
    </div>
</div>

