<%= form_with(model: applicant, class: "needs-validation", novalidate: true) do |form| %>
  <% if applicant.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">Oops! <%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h4>

      <ul>
        <% applicant.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
