<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 style="flex: 1; font-size: 5em; text-align: right; margin-bottom: 0; font-weight: bold;">日本で働く</br>海外の方を探す</h1>
  <img src="<%= asset_path('World-10.png') %>" alt="Matches Logo" style="flex: 1; width: auto; max-width: 100%;">
</div>

<div class="row">
  <% @applicants.each do |applicant| %>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= applicant.name %></h5>
          <!-- 他の属性も同様に表示する -->
          <%= link_to "Show this applicant", applicant, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
