<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 style="flex: 1; font-size: 5em; text-align: right; margin-bottom: 0; font-weight: bold;">採用候補者を</br>探す</h1>
  <img src="<%= asset_path('World-10.png') %>" alt="Matches Logo" style="flex: 1; width: auto; max-width: 100%;">
</div>

<p style="color: green"><%= notice %></p>

<div id="applicants">
  <% @applicants.each do |applicant| %>
    <%= render applicant %>
    <p>
      <%= link_to "Show this applicant", applicant %>
    </p>
  <% end %>
</div>
