<div class="avatar-show">
  <% if @article&.user&.avatar&.attached? %>
    <%= image_tag @article.user.avatar, alt: "Avatar" %>
  <% else %>
    <%= image_tag ("default.jpg"), alt: "Avatar" %>
  <% end %>
</div>