<div class="avatar">
  <% if @user&.avatar&.attached? %>
    <%= image_tag @user&.avatar, class: 'rounded-circle mb-3', style: 'width: 150px', alt: "Avatar" %>
  <% else %>
    <%= image_tag ("default.jpg"), class: 'rounded-circle mb-3', style: 'width: 150px', alt: "Avatar" %>
  <% end %>
</div>