<div class="avatar-index">
  <% if article&.user&.avatar&.attached? %>
    <%= image_tag article.user.avatar, alt: "Avatar" %>
  <% else %>
    <div class="circle" style="width: 80px; height: 80px; background: <%= @avatar_bg_color %>"></div>
  <% end %>
</div>