<div class="container bg-light">
<p style="color: green"><%= notice %></p>
  <div class="row">
    <div class="col-sm-4 text-center">
        <div class="card">
            <p>ユーザーランキング</p>
            <hr>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <p>ユーザーランキング</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
    </div>
    <div class="col-sm-8">
      <div id="articles">
        <% @articles.each do |article| %>
          <%= render article %>
        <% end %>
      </div>
      <% if Rails.env == "development" %>
        <p>
          debug用に記事数を表示:<%= @number_of_articles %>
        </p>
      <% end %>
    </div>
  </div>
</div>