<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 class="header-title">Working with Foreigners</h1>
  <img src="<%= asset_path('World-10.png') %>" alt="Matches Logo" class="logo-image">
</div>
<div style="text-align: center;">
  <%= button_to "人を探す", '/auth/auth0', method: :post, data: { turbo: false }, style: "padding: 12px 30px; font-size: 16px; background-color: #4285F4; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" %>
</div>
