<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 class="header-title">Find a talented foreigner <br>in Japan</h1>
  <img src="<%= asset_path('World-10.png') %>" alt="Matches Logo" class="logo-image">
</div>

