<div class="container">
    <%= raw(contact) %>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSee_EOyynp7TWysBjDOz8NN8RBJxXWBQ4O6xe4i-eh6qRcuww/viewform?embedded=true" width="640" height="721" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
