@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow-x: hidden;  // 横スクロールを防ぐ場合
}

.main-container {
  background-color: var(--background-color);
  height: auto;
  position: relative;
  min-height: 95vh;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
  .header-links {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .user-info {
    display: none;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

@media (min-width: 768px) {
  .container-sm {
    width: 90%;
  }
}

.header-links {
  display: flex;
  align-items: center;
  font-size: 20px; /* フォントサイズを大きくする */
  color: #007bff; /* リンクのテキスト色 */
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease; /* リンクの色が変わるアニメーション */
}

.header-link:hover {
  color: #0056b3; /* リンクのホバー時のテキスト色 */
}

.user-info {
  margin-right: 10px;
  margin-left: 10px;
}

.logout-button,
.login-button {
  margin-left: 10px;
}

.header-title {
  flex: 1;
  font-size: 6em;
  text-align: right;
  margin-bottom: 0;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 4em;
  }
}

@media (max-width: 576px) {
  .header-title {
    font-size: 3em;
  }
}

.logo-image {
  flex: 1;
  width: auto;
  max-width: 100%;
}

@media (max-width: 576px) {
  .logo-image {
    display: none;
  }
}

.header-title-link {
  font-family: Arial, sans-serif;
  font-size: 30px; /* フォントサイズを大きくする */
  font-weight: bold; /* 太字にする */
  color: #333;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease; /* カラーの変化を滑らかにするトランジション */
}

.header-title-link:hover {
  color: #007bff; /* ホバー時のカラー */
}

.pastel-blue-gradient {
  background: linear-gradient(45deg, rgb(0, 149, 255), #E3F2FD);
}

.top-contents-container {
  margin-left: 5px;
  margin-right: 5px;
}

.notification-bell {
  background-color: transparent; /* A clear background */
  border: none; /* No border for a button-like feel */
  padding: 8px; /* Some padding around the icon for easier click */
  border-radius: 50%; /* Circular shape */
  align-items: center; /* Center the icon */
  justify-content: center; /* Center the icon */
  display: flex; /* To use Flexbox for centering */
  position: relative; /* Positioning relative for potential badge positioning */
}

.notification-bell:hover,
.notification-bell:focus {
  background-color: #f0f0f0; /* Slight highlight on hover or focus */
}

/* If you have a badge for notification count */
.notification-badge {
  position: absolute; /* Absolute positioning inside the relative parent */
  top: -5px; /* Positioning at the top right corner */
  right: -5px; /* Positioning at the top right corner */
  background-color: rgb(175, 163, 163); /* Red background for attention */
  color: white; /* White text */
  border-radius: 50%; /* Round shape */
  width: 20px; /* Fixed width */
  height: 20px; /* Fixed height */
  display: flex; /* Use Flexbox for centering */
  align-items: center; /* Center the text */
  justify-content: center; /* Center the text */
  font-size: 12px; /* Smaller font size for the badge */
  line-height: 1; /* Line height to control the text alignment */
}

/* ボタンの基本スタイル */
.button-modern {
  padding: 10px 20px; /* パディングを調整 */
  font-size: 16px; /* フォントサイズ */
  color: white; /* テキスト色 */
  background: linear-gradient(145deg, #4285F4, #34A853); /* 背景色のグラデーション */
  border: none; /* ボーダーなし */
  border-radius: 25px; /* ボーダーの丸み */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
  cursor: pointer; /* ホバー時のカーソル変更 */
  transition: all 0.3s ease; /* アニメーション効果 */
  text-decoration: none; /* テキストの下線を削除 */
}

/* ホバー時のスタイル */
.button-modern:hover {
  background: linear-gradient(145deg, #34A853, #4285F4); /* グラデーションの色を変更 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* 影を強調 */
}

/* リンクの基本スタイル */
.link-modern {
  background-color: #4285F4; /* 背景色 */
  color: white; /* テキスト色 */
  padding: 10px 15px; /* パディング */
  margin-right: 5px; /* 右マージン */
  text-decoration: none; /* テキストの下線を削除 */
  border-radius: 5px; /* ボーダーの丸み */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* 背景色、変形、影のトランジション効果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 通常時の影 */
}

/* ホバー時のスタイル */
.link-modern:hover {
  background-color: #34A853; /* ホバー時の背景色 */
  transform: translateY(-2px); /* 少し持ち上げる効果 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* ホバー時の強調された影 */
}


/* 検索フォーム全体のスタイル */
.form-modern {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* 検索フィールドのスタイル */
.form-modern input[type="search"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc; /* 軽いグレーのボーダー */
  border-radius: 20px 0 0 20px; /* 左側に丸みを持たせる */
  outline: none; /* フォーカス時のアウトラインを削除 */
  transition: border-color 0.3s; /* ボーダーカラーのトランジション効果 */
}

/* 検索フィールドフォーカス時のスタイル */
.form-modern input[type="search"]:focus {
  border-color: #4285F4; /* フォーカス時にボーダーカラーを変更 */
}

/* 送信ボタンのスタイル */
.form-modern input[type="submit"] {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4285F4; /* ボタンの背景色 */
  color: white; /* テキスト色 */
  border: none;
  border-radius: 0 20px 20px 0; /* 右側に丸みを持たせる */
  cursor: pointer; /* ホバー時のカーソル変更 */
  transition: background-color 0.3s; /* 背景色のトランジション効果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 通常時の影 */
}

/* 送信ボタンホバー時のスタイル */
.form-modern input[type="submit"]:hover {
  background-color: #34A853; /* ホバー時の背景色を変更 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* ホバー時の強調された影 */
}

/* リンクと送信ボタンの高さを統一 */
.link-modern, .form-modern input[type="submit"] {
  padding: 12px 15px; /* パディングを調整して高さを増やす */
  font-size: 16px; /* フォントサイズ統一 */
  height: 48px; /* 明示的な高さ指定 */
  line-height: 24px; /* テキストの行の高さを調整 */
  display: inline-flex; /* Flexbox モデルを使用 */
  align-items: center; /* 中央揃え */
  justify-content: center; /* 中央揃え */
}

/* 検索フィールドのスタイルを更新 */
.form-modern input[type="search"] {
  padding: 10px 15px; /* 内側の余白を調整 */
  font-size: 16px; /* フォントサイズ統一 */
  height: 48px; /* 検索窓の高さをボタンに合わせる */
  border-radius: 25px 0 0 25px; /* 丸みを加える */
  outline: none; /* フォーカス時のアウトラインを削除 */
}

/* 送信ボタンの追加スタイル */
.form-modern input[type="submit"] {
  border-radius: 0 25px 25px 0; /* 丸みを加える */
}


// ログイン画面
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  .box {
    width: 350px;
    height: 450px;
    margin: 60px auto 0;
    border-radius: 4px;
    border: 1px #ddd solid;
  }
  
  .box-inner {
    padding: 20px 26px;
  }
  
  h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
    color: #111111;
  }
  
  .box-email {
    margin-bottom: 13px;
  }
  
  .box-password {
    margin-bottom: 22px;
  }
  
  .box-email label, .box-password label {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
  }
  
  .box-email input[type="email"], .box-password input[type="password"] {
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
    border-radius: 3px;
    padding: 0 7px;
  }
  
  .column-left {
    float: left;
  }
  
  .column-right {
    float: right;
  }
  
  .box-password a {
    font-size: 13px;
  }
  
  .box-login {
    margin-bottom: 26px;
  }
  
  .box-login input[type="submit"] {
    border-style: none;
    width: 100%;
    height: 31px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border: 1px #a88734 solid;
  }
  
  .box-login input[type="submit"]:hover {
    cursor: pointer;
    background: #f0c14b;
  }
  
  .legal-text {
    margin-top: 18px;
    font-size: 12px;
  }
  
  .remember {
    font-size: 13px;
    margin-top: 18px;
    padding-left: 3px;
  }
  
  .box-newusr p {
    text-align: center;
    font-size: 12px;
    color: #767676;
    margin-bottom: 14px;
  }
  
  .box-newusr p span {
    text-decoration: line-through;
    text-decoration-color: #e7e7e7;
  }
  
  .box-newusr a {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    color: #111;
    line-height: 31px;
    text-align: center;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border-radius: 3px;
    border: 1px #a2a6ac solid;
  }
  
  .box-newusr a:hover {
    background: #e7e9ec;
  }

// 新規登録画面
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.box1 {
  width: 350px;
  height: 600px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box2 {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-name {
  margin-bottom: 13px;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-name label, .box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-name input[type="text"], .box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

// 一覧画面
.pagination {
  justify-content: center;
  padding: 3px;
}

.page-item.active .page-link {
  background-color: black;
  border-color: black;
}

.page-link {
  color: black;
}

// Articleのcard
.article-card {
  min-height: 200px;
  min-width: 10rem;
}

// calendar
.rounded-table {
  border-radius: 5px; /* この値を調整して好みの角の丸みを得る */
  overflow: hidden; /* これにより、テーブルの角が外部にはみ出さないようにする */
}

.rounded-table thead tr:first-child th:first-child {
  border-top-left-radius: 5px; /* 左上の角 */
}

.rounded-table thead tr:first-child th:last-child {
  border-top-right-radius: 5px; /* 右上の角 */
}

.rounded-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px; /* 左下の角 */
}

.rounded-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px; /* 右下の角 */
}


// calendar
.simple-calendar {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
}
.day {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.wday-0 {
  color: #f00;
}
.wday-1 {
  color: #000;
}
.wday-2 {
  color: #000;
}
.wday-3 {
  color: #000;
}
.wday-4 {
  color: #000;
}
.wday-5 {
  color: #000;
}
.wday-6 {
  color: #f00;
}

.today {
  background-color: #f0f0f0;
}
.past {
  color: #ccc;
}
.future {
  color: #000;
}

.start-date {
  background-color: #f0f0f0;
}

.prev-month {
  color: #ccc;
}
.next-month { 
  color: #ccc;
}
.current-month {
  color: #000;
}

.has-events {
  background-color: #f0f0f0;
}

// 新規作成画面
.create-new {
  min-height: 100%;
}

// card
.card {
  box-shadow: 1px 1px 2px #e6e6e6;
}

// footer
.footer-container {
  text-align: center;
  color: black;
  position: relative;
  min-height: 5vh;
}

// トップページ
.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.services-section h2 {
  width: 100%;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.service {
  flex-basis: 30%; /* 各サービスボックスを3列にするために幅を調整 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.service img {
  width: 100%;  /* 画像をボックスの幅いっぱいに表示 */
  height: auto;
  max-width: 300px;  /* 画像の最大幅を設定 */
}

.service h3 {
  margin-top: 10px;
  color: #007BFF;
}

.service p {
  color: #666;
}
