@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

.main-container {
  background-color: black;
}

.top-contents-container {
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}


// ログイン画面
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  .box {
    width: 350px;
    height: 450px;
    margin: 60px auto 0;
    border-radius: 4px;
    border: 1px #ddd solid;
  }
  
  .box-inner {
    padding: 20px 26px;
  }
  
  h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
    color: #111111;
  }
  
  .box-email {
    margin-bottom: 13px;
  }
  
  .box-password {
    margin-bottom: 22px;
  }
  
  .box-email label, .box-password label {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
  }
  
  .box-email input[type="email"], .box-password input[type="password"] {
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
    border-radius: 3px;
    padding: 0 7px;
  }
  
  .column-left {
    float: left;
  }
  
  .column-right {
    float: right;
  }
  
  .box-password a {
    font-size: 13px;
  }
  
  .box-login {
    margin-bottom: 26px;
  }
  
  .box-login input[type="submit"] {
    border-style: none;
    width: 100%;
    height: 31px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border: 1px #a88734 solid;
  }
  
  .box-login input[type="submit"]:hover {
    cursor: pointer;
    background: #f0c14b;
  }
  
  .legal-text {
    margin-top: 18px;
    font-size: 12px;
  }
  
  .remember {
    font-size: 13px;
    margin-top: 18px;
    padding-left: 3px;
  }
  
  .box-newusr p {
    text-align: center;
    font-size: 12px;
    color: #767676;
    margin-bottom: 14px;
  }
  
  .box-newusr p span {
    text-decoration: line-through;
    text-decoration-color: #e7e7e7;
  }
  
  .box-newusr a {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    color: #111;
    line-height: 31px;
    text-align: center;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border-radius: 3px;
    border: 1px #a2a6ac solid;
  }
  
  .box-newusr a:hover {
    background: #e7e9ec;
  }

// 新規登録画面
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.box1 {
  width: 350px;
  height: 600px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box2 {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-name {
  margin-bottom: 13px;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-name label, .box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-name input[type="text"], .box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

// 一覧画面
.pagination {
  justify-content: center;
  padding: 3px;
}

.page-item.active .page-link {
  background-color: black;
  border-color: black;
}

.page-link {
  color: black;
}

// Articleのcard
.article-card {
  min-height: 200px;
  min-width: 10rem;
}

// calendar
.rounded-table {
  border-radius: 5px; /* この値を調整して好みの角の丸みを得る */
  overflow: hidden; /* これにより、テーブルの角が外部にはみ出さないようにする */
}

.rounded-table thead tr:first-child th:first-child {
  border-top-left-radius: 5px; /* 左上の角 */
}

.rounded-table thead tr:first-child th:last-child {
  border-top-right-radius: 5px; /* 右上の角 */
}

.rounded-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px; /* 左下の角 */
}

.rounded-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px; /* 右下の角 */
}


// calendar
.simple-calendar {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
}
.day {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.wday-0 {
  color: #f00;
}
.wday-1 {
  color: #000;
}
.wday-2 {
  color: #000;
}
.wday-3 {
  color: #000;
}
.wday-4 {
  color: #000;
}
.wday-5 {
  color: #000;
}
.wday-6 {
  color: #f00;
}

.today {
  background-color: #f0f0f0;
}
.past {
  color: #ccc;
}
.future {
  color: #000;
}

.start-date {
  background-color: #f0f0f0;
}

.prev-month {
  color: #ccc;
}
.next-month { 
  color: #ccc;
}
.current-month {
  color: #000;
}

.has-events {
  background-color: #f0f0f0;
}