@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

:root {
  --background-color: white;
  --calendar-title-color: black;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow-x: hidden;  // 横スクロールを防ぐ場合
}

a {
  text-decoration: none;
}

.main-container {
  background-color: var(--background-color);
  height: auto;
  position: relative;
  min-height: 95vh;
}

.top-contents-container {
  background-color: var(--background-color);
  margin-left: 5px;
  margin-right: 5px;
}

// 一覧画面
.pagination {
  justify-content: center;
  padding: 3px;
}

.page-item.active .page-link {
  background-color: black;
  border-color: black;
}

.page-link {
  color: black;
}

// Articleのcard
.article-card {
  min-height: 200px;
  min-width: 10rem;
}

// calendar
.rounded-table {
  border-radius: 5px; /* この値を調整して好みの角の丸みを得る */
  overflow: hidden; /* これにより、テーブルの角が外部にはみ出さないようにする */
}

.rounded-table thead tr:first-child th:first-child {
  border-top-left-radius: 5px; /* 左上の角 */
}

.rounded-table thead tr:first-child th:last-child {
  border-top-right-radius: 5px; /* 右上の角 */
}

.rounded-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px; /* 左下の角 */
}

.rounded-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px; /* 右下の角 */
}


// calendar
.simple-calendar {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: var(--background-color);
}

.calendar-title {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  color: var(--calendar-title-color); /* Text color for the title */
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-title a {
  color: var(--calendar-title-color); /* Text color for the links within the title */
  text-decoration: none;
  margin: 0 10px; /* Add spacing between the links */
}

.day {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.wday-0 {
  color: #f00;
}
.wday-1 {
  color: #000;
}
.wday-2 {
  color: #000;
}
.wday-3 {
  color: #000;
}
.wday-4 {
  color: #000;
}
.wday-5 {
  color: #000;
}
.wday-6 {
  color: #f00;
}

.today {
  background-color: #f0f0f0;
}
.past {
  color: #ccc;
}
.future {
  color: #000;
}

.start-date {
  background-color: #f0f0f0;
}

.prev-month {
  color: #ccc;
}
.next-month { 
  color: #ccc;
}
.current-month {
  color: #000;
}

.has-events {
  background-color: #f0f0f0;
}

// 新規作成画面
.create-new {
  min-height: 100%;
}

// card
.card {
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

// footer
.footer-container {
  text-align: center;
  color: black;
  position: relative;
  min-height: 5vh;
}