<!-- Footer -->
<footer class="footer-container">
  <!-- Copyright -->
    © 2022 Copyright:
    <a class="footer-link" href="https://www.rememberme.jp/">RememberMe.jp</a>
    </br>
    <%= link_to "管理画面", rails_admin.dashboard_path %>
</footer>
<!-- Footer -->
