<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto pl-2">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">憲法</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">民法</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">刑法</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">民訴</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">刑訴</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">行政法</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">商法</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">労働法</a>
      </li>
    </ul>
  </div>
</nav>